.wrapper {
  .line {
    display: flex;
    justify-content: center;

    .stepText {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 10px;
      width: 120px;
      text-align: center;

      .text {
        padding: 10px;
        display: flex;
      }

      .circle {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #9e9e9e;
        border-radius: 50%;
        color: #fff;
      }
      &.active {
        .circle {
          background: #1976d2;
        }
      }
    }
  }
}
